.bread .dropdown-toggle {
    color: #3bd3aa;
    background: none;
    border: none;
    border-bottom: 1px solid #3bd3aa;
    outline: none;
}
.des-detail p a:focus{
    color: red;
    background: yellow;
}
.img-sale1{
    width: auto;
}
/* @media only screen and (max-width: 767px){
    .container.sale .side-bar {
        padding-right: 0px!important;
        padding-left: 0px!important;
        margin-top: 15px;
    }
} */
.row.group-sale{
    border: 2px solid #c7c7c7;
    padding: 10px 0;
    margin-bottom: 30px;
}
.row.group-sale .title-list-inline{
    margin-bottom: 15px;
}
.list-inline .pull-left{
    font-size: 13px;
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
}
.list-inline .pull-right{
    color: #b50000;
    font-size: 12px;
}
.row.group-sale .col-md-3 .img-sale{
    width: 171px;
    height: 121px;
}
.des-detail p{
    padding: 10px 20px;
    font-size: 13px;
    font-family: arial;
    font-weight: bold;

}
.des-detail{
    background: #e2e0e0;
}
.des-detail .text-detail{
    color: #b50000;
    font-size: 13px;
}
.group-select-apartment .row p{
    width: 145px;
}
.group-select-apartment .price p{
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
    font-size: 13px;
    font-family: arial;
}
.group-select-apartment .price p span{
    color: #b50000;
}
.container.sale .side-bar .dang-tin{
    margin-bottom: 15px;
}
.container.sale .side-bar .support{
    margin-bottom: 15px;
    color: #000000;
    background: #3bd3aa;
}
.container.sale .side-bar .support p a{
    color: #000000;
}
.container.sale .side-bar .email-support{
    margin-bottom: 50px;
    color: #000000;
    background: #3bd3aa;
    padding: 0px;
}
.container.sale .side-bar .email-support p a{
    color: #000000;
}
.container.sale .side-bar .support a:nth-child(1){
    border-left: 2px solid rgba(51, 51, 51, 0.6);
    font-size: 12px;
}
.container.sale .side-bar .support a:nth-child(2){
    border-left: 2px solid rgba(51, 51, 51, 0.6);
    font-family: arial;
    font-weight: 600;
    margin-left: 45pt;
}
.container.sale .side-bar .email-support a:nth-child(1){
    border-left: 2px solid rgba(51, 51, 51, 0.6);
    font-size: 12px;
}
.container.sale .side-bar .email-support a:nth-child(2){
    border-left: 2px solid rgba(51, 51, 51, 0.6);
    font-family: arial;
    font-weight: 600;
    margin-left: 30pt;
}
.sell-home ,.link{
    margin-bottom: 50px;
    border: 1px solid #c7c7c7;
}
.sell-home h4{
    height: auto;
    font-family: arial;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    background: #c7c7c7;
    margin: 0;
    padding: 5px;
}
.sell-home div p{
    font-size: 16px;
    font-family: arial;
    text-transform: capitalize;
    border-bottom: 1px solid #c7c7c7;
    padding: 9px;
    padding-left: 30px;
}

.link h4{
    height: auto;
    font-family: arial;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    background: #c7c7c7;
    margin: 0;
    padding: 5px;
}
.link div p{
    font-size: 16px;
    font-family: arial;
    text-transform: capitalize;
    border-bottom: 1px solid #c7c7c7;
    padding: 9px;
    padding-left: 30px;
}
.sale-des-detail{
    padding-right: 15px;
    padding-left: 30px;

}
.container.sale .side-bar{
    padding-right: 0px;
    padding-left: 30px;
}
.container.sale .side-bar .dien-dan>div>div hr{
    width: 42%;
}
.container.sale .side-bar .dien-dan{
    margin: 0!important;
}
.container.sale .side-bar .dien-dan .row.first{
    height: auto;
    background: #3bd3aa;
}
.container.sale .side-bar .dien-dan .row.first h4{
    font-family: arial;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;

    margin: auto;
    padding: 5px;
}
.paginate nav{
    margin: auto;
}