
/* icon mang xa hoi */
.bai-viet .content-right>div>div>img{
    width: auto;
    position: absolute;
}
.bai-viet .content-right>div:nth-child(1)>div>div,.bai-viet .content-right>div:nth-child(3)>div>div{
    width: 79px;
    margin-right: 10px;
}
.side-bar-left>div:nth-child(2)>div>a>img{
    width: -webkit-fill-available;
}
@media only screen and (max-width: 991px){
    .bai-viet .content-right>div:nth-child(3)>div>div:nth-child(4) {
        border: 1px solid #3577a2;
        margin-left: 0%!important;
    }
}
@media only screen and (max-width: 767px){
    .bai-viet .content.col-md-9 h4{
        padding: 0 15px!important;
    }
    .side-bar-left>div:nth-child(1) h4{
        padding: 0px 15px;
    }
    /* .bai-viet .content.col-md-9 .container>.row{
        margin-right: 0;
        margin-left: 0;
    } */
    .side-bar{
        margin-top: 15px!important;
    }
    .bai-viet .content>div:nth-child(1)>div>hr {
        background: #b50000;
        width: 100%!important;
        display: table;
        margin: 10px 0;
    }
    .side-bar-left>div:nth-child(2)>div>a>img{
        padding-right: 10px;
    }
    .side-bar-left>div:nth-child(2)>div {
        margin-bottom: 30px;
        padding-left: 30px;
    }
    .side-bar-left>div:nth-child(2)>div:last-child {
        display: none;
    }
    .bai-viet .content-right>div:nth-child(1)>div:nth-child(2) {
        position: unset!important;
        right: unset!important;
        /* width: 100%; */
    }
    .bai-viet .content-right>div:nth-child(1) {
        display: unset!important; 
    }
}
.bai-viet .contact-info-post p{
    float: left;
    width: 100%;
}
.bai-viet .contact-info-post p .fa{
    padding-right: 3px;
}
.bai-viet .contact-info-post p .post-link{
    color: #0ceaf5;
    text-decoration: none;
}
.bai-viet .content-right.container{
    padding-right: 0;
}
.bai-viet .content-right>div:nth-child(1)>div>div:nth-child(1),.bai-viet .content-right>div:nth-child(3)>div>div:nth-child(1){
    border: 1px solid #d81d25;
}
.bai-viet .content-right>div:nth-child(1)>div>div:nth-child(2),.bai-viet .content-right>div:nth-child(3)>div>div:nth-child(2){
    border: 1px solid #1a214e;
}
.bai-viet .content-right>div:nth-child(1)>div>div:nth-child(3),.bai-viet .content-right>div:nth-child(3)>div>div:nth-child(3){
    border: 1px solid #018ee5;
}

.bai-viet .content-right>div:nth-child(3)>div>div:nth-child(4){
    border: 1px solid #3577a2;
    margin-left: 24%;
}
.bai-viet .content-right>div:nth-child(1)>div>div>input,.bai-viet .content-right>div:nth-child(3)>div>div>input{
    position: relative;
    width: 58px;
    height: 21px;
}
.bai-viet .content-right>div:nth-child(1)>div>div>button,.bai-viet .content-right>div:nth-child(3)>div>div>button{
    position: absolute;
    right: 0;
    width: 57px;
    font-size: 9px;
    height: 21px;
    padding: 4px;
    border-radius: 0;
    color: #ffffff;
    border: none;
}
.bai-viet .content-right>div:nth-child(1)>div>div:nth-child(1)>button,.bai-viet .content-right>div:nth-child(3)>div>div:nth-child(1)>button{
    background: linear-gradient(#d81d25 51%,#a2161c 46%)
}
.bai-viet .content-right>div:nth-child(1)>div>div:nth-child(2)>button,.bai-viet .content-right>div:nth-child(3)>div>div:nth-child(2)>button{
    background: linear-gradient(#1a214e 51%,#14193b 46%)
}
.bai-viet .content-right>div:nth-child(1)>div>div:nth-child(3)>button,.bai-viet .content-right>div:nth-child(3)>div>div:nth-child(3)>button{
    background: linear-gradient(#018ee5 51%,#3577a2 46%)
}
.bai-viet .content-right>div:nth-child(1)>div>div:nth-child(3)>button,.bai-viet .content-right>div:nth-child(3)>div>div:nth-child(4)>button{
    background: linear-gradient(#1f55b5 51%,#3577a2 46%)
}
.bai-viet .content-right>div:nth-child(1)>div>div>div .input-group-text,.bai-viet .content-right>div:nth-child(3)>div>div>div .input-group-text{
    width: 20px;
    height: 21px;
    padding: 3px;
    border-radius: 0;
    background: none;
    border: none;
}
/* end icon mang xa hoi */
.bai-viet .content-right>div:nth-child(1)/* , */
{
    display: inline-flex;
    border-bottom: 1px solid #b50000;
}
.bai-viet .content-right>div:nth-child(3){
    border-bottom: 1px solid #bfbfbf;
}
.bai-viet .content-right>div:nth-child(1)>div:nth-child(2){
    position: absolute;
    right: 0;
}
.bai-viet .content-right>div:nth-child(1)>div:nth-child(2) span{
    color: rgba(81, 81, 81, .7);
}
.bai-viet .content>div:nth-child(1)>div>hr{
    background: #b50000;
    width: 150px;
    display: table;
    margin: 10px 0;
}
/* sibar left */
.side-bar-left>div:nth-child(1) h4{
    font-size: 1rem;
    color: #b50000;
    margin-bottom: 1rem;
}
.side-bar-left>div:nth-child(2) p{
    font-size: 1rem;
}
.side-bar-left>div:nth-child(2)>div{
    margin-bottom: 30px;
}
.side-bar-left>div:nth-child(2)>div:last-child{
    border-top: 1px solid #b50000;
    padding-top: 1rem;
    width: 100%;
}

/* end sibar-left */
.bai-viet .content-right>div:nth-child(2) p{
    margin-bottom: 30px;
    font-size: 1rem;
    display: inline-flex;
    width: 100%;
}
.bai-viet .content-right>div:nth-child(2) .news-sapo{
    font-weight: bold;
}
.bai-viet .content-right>div:nth-child(2) h5{
    margin-bottom: 30px;
}
.bai-viet .content-right>div:nth-child(2)>div:nth-child(2)>div>p{
    font-style: italic;
    color: #515151;
}
.bai-viet .content-right>div:nth-child(2)>div:last-child>p:last-child{
    width:100%;
    text-align: right;
    font-weight: 600;
    margin-right: 20px;
}
.content-right .comment{
    margin-bottom: 97px;
}
.content-right .comment h4{
    color: #b50000;
    text-transform: uppercase;
    font-size: 1rem;
}
.comment .binh-luan button{
    width: 30%;
    height: 30px;
    color: #ffffff;
    font-size: 1rem;
    background: #b50000;
    border: none;
    padding: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
.comment .binh-luan .text-right{
    width: 70%;
    font-style: italic;
    color: #bfbfbf;
}
.content>div:nth-child(3) .img-sales{
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #b50000;
    width: 100%;
}