.contact-body{
    margin-top: 15px;
    margin-bottom: 20px;
}
.contact-content h4{
    margin-bottom: 30px;
}
.contact-content .contact-title{
    float: left;
    padding-left: 10px;
    padding-right: 0;
    font-weight: bold;
}
.contact-content .contact-info-row{
    float: left;
    padding-left: 10px;
    padding-right: 0;
}
.contact-form{
    margin-bottom: 30px;
}
.contact-form .form-content .form-input{
    padding-left: 0;
}
.contact-form .form-content .form-input h5{
    margin-bottom: 15px;
}
.contact-form .form-input .text-input{
    padding-left: 0;
    margin-bottom: 10px;
}
.contact-form .form-input .text-content{
    height: 100px;
    margin-bottom: 30px;
}
.contact-form .form-input .text-input .textarea-content{
    height: 100%;
}
.contact-form .form-input .btn-send{
    background-color: #f02d38;
    border: 1px solid #fff;
    border-radius: 25%;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    color: #fff;
}