.img-block-new .img-list{
	height: 121px;
}
.news h6{
   font-size: 1rem;
   line-height: 23px;
   font-weight: 600;
   color: #214a60;
}
.news .times{
	font-size: 12px;
    color: #aaa;
}
.news .fixed .row ul li{
	padding: 6px 10px;	
	width: 100%;
}
.news .fixed .row ul li:first-child{

    border-bottom: 1px solid #aaa;
}
.news .fixed .row ul li:first-child a{
	color: #B03436 !important;
}
.news .fixed .row ul li a{
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
}
@media only screen and (max-width: 767px){
    .news .group-img.row{
        margin-left: 0;
        margin-right: 0;
    }
}
.news .group-img.row{
	margin-bottom: 20px;
}
.news .group-img.row .img-block-new iframe{
    width: 100%;
    height: 100%;
}
.news .fade{
	opacity: 1;
}
.list-inline-item.nav-pills.nav{
	width: 162px;
}
.sticky {
    top: 0;
    width: max-content;
    z-index: 3;
    background: #fff;
    height: auto;
}
.news .fixed .row ul li:hover a{

    transition: 0.4s ease;
    color: red;
}
.news .fixed .row ul li a:focus{

    transition: 0.4s ease;
    color: red;
}
a.active {
    font-weight:  bold;
    color:  red;
}